<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.mcConnectionString" connectionString="Data Source=lenovo_gyf;Initial Catalog=mc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>